{extends file="template.htm"}

{block name=pagetitle}About HeLiX{/block}

{block name=content}
<br />
<h3>About HeLiX</h3>
<div class="row">
  <div class="span12">
  <h4>Overview</h4>
  <p>
	Health informatics is about using computers to enhance the way health information is processed, and there are three aspects of health informatics that can be identifed: healthcare, information, software. Within each of these areas, there are different documents outlining ethical obligations. HeLiX is an attempt to index and catalog these diverse documents to gain new insights and start new conversations about the area of health/medical informatics ethics.
  </p>
  <h4>Publications</h4>
  <p>
  The following peer-reviewed publications are outcomes of our research.
  <ul>
    <li>Hamman Samuel, Osmar Zaiane. <b>A Repository of Codes of Ethics and Technical Standards in Health Informatics</b>. Online Journal of Public Health Informatics (OJPHI). Vol. 6, No. 2, October 2014. PMID: 25422725, DOI: <a href="http://dx.doi.org/10.5210/ojphi.v6i2.5484">10.5210/ojphi.v6i2.5484</a>, PubMed Central (PMC).</li>
    
    <li>Hamman Samuel, Osmar Zaiane, Dick Sobsey. <b>Towards a Definition of Health Informatics Ethics</b>. <i>In Proceedings of 1st ACM International Health Informatics Symposium, IHI '10</i>. Arlington, VA, USA, Nov 2010. DOI: <a href="http://dx.doi.org/10.1145/1882992.1883029">10.1145/1882992.1883029</a>, ACM DL.</li>
  </ul>
	</p>
  </div>
</div>
{/block}