{extends file="template.htm"}

{block name=pagetitle}About HeLiX{/block}

{block name=content}
<br />
<h3>About HeLiX</h3>
<div class="row">
  <div class="span12">
  <h4>Overview</h4>
  <p>
        Health informatics sits at the intersection of healthcare delivery and information technology, serving as the bridge between clinical practice and data-driven decision making. It encompasses the systematic collection, storage, analysis, and sharing of health data to improve patient outcomes and healthcare delivery efficiency. This field combines medical knowledge with computer science principles to develop systems that help healthcare providers make more informed decisions, reduce medical errors, and enhance the overall quality of care.
  </p>
  <p>
        Modern health informatics applications range from electronic health records (EHRs) and clinical decision support systems to population health analytics and telemedicine platforms. By leveraging advanced technologies like machine learning and artificial intelligence, health informatics professionals work to transform raw healthcare data into actionable insights that benefit both individual patient care and broader public health initiatives.
  </p>
  <p>
        Within health informatics, there are three key aspects that can be identified: healthcare, information, and software. Each of these areas comes with its own set of ethical obligations and professional standards. HeLiX is an attempt to index and catalog these diverse documents to gain new insights and start new conversations about the area of health/medical informatics ethics.
  </p>
  <h4>Publications</h4>
  <p>
  The following peer-reviewed publications are outcomes of our research.
  <ul>
    <li>Hamman Samuel, Osmar Zaiane. <b>A Repository of Codes of Ethics and Technical Standards in Health Informatics</b>. Online Journal of Public Health Informatics (OJPHI). Vol. 6, No. 2, October 2014. PMID: 25422725, DOI: <a href="http://dx.doi.org/10.5210/ojphi.v6i2.5484">10.5210/ojphi.v6i2.5484</a>, PubMed Central (PMC).</li>
    
    <li>Hamman Samuel, Osmar Zaiane, Dick Sobsey. <b>Towards a Definition of Health Informatics Ethics</b>. <i>In Proceedings of 1st ACM International Health Informatics Symposium, IHI '10</i>. Arlington, VA, USA, Nov 2010. DOI: <a href="http://dx.doi.org/10.1145/1882992.1883029">10.1145/1882992.1883029</a>, ACM DL.</li>
  </ul>
        </p>
  </div>
</div>
{/block}